.viewContainer {
    @apply container pt-6;
}

.upperConent {
    @apply mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl sm:grid sm:grid-cols-1 lg:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8;
}

.buyButton {
    @apply mt-4 bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.tableLoader {
    border-top: 1px solid rgb(229, 232, 235);
    height: 345px;
    padding-top: 172.5px;
}

.actionHeader {
    background-color: rgb(251, 253, 255);
    padding: 10px 20px;
    border-bottom: 1px solid rgb(229, 232, 235);
    height: 81px;
    overflow-x: auto;
    min-width: 543px;
}

.addressText {
    color: rgb(32, 129, 226);
    font-weight: 600;
}

.editButton {
    @apply bg-white border border-gray-200 rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-indigo-600 hover:bg-white focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 float-right hover:shadow mr-2.5;
    height: 60px;
    width: 161px;
    border: 2px solid rgb(229, 232, 235);
}

.cancelButton {
    @apply bg-white border border-gray-200 rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-indigo-600 hover:bg-white focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 float-right hover:shadow mr-2.5;
    height: 60px;
    border: 2px solid rgb(229, 232, 235);
    padding: 0.75rem 1.5rem;
    width: 161px;
}

.buyListingButton {
    @apply bg-white border border-gray-200 rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-indigo-600 hover:bg-white focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 float-right hover:shadow mr-2.5;
    height: 60px;
    width: 161px;
    border: 2px solid rgb(229, 232, 235);
    font-weight: 600;
}

.priceActionBtn {
    @apply bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 float-right;
    width: 161px;
    height: 60px;
}

.nftHeading {
    @apply lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8;
}

.nftName {
    @apply text-2xl font-bold tracking-tight text-gray-900 sm:tracking-tight sm:text-3xl;
}

.priceCardContainer {
    display: flex;
    flex-direction: column;
    width: 590px;
}

.priceHistoryLoader {
    height: 231px;
    padding-top: 115.5px;
}

.pricePlaceholderChart {
    margin-left: 37.3%;
}

.priceCard {
    background-color: rgb(251, 253, 255) !important;
    border: 1px solid rgb(46, 125, 175) !important;
    height: fit-content !important;
    max-width: none !important;
}

.dollarPrice {
    margin-left: 7px;
    font-size: 15px;
    color: rgb(112, 122, 131);
}

.priceTag {
    @apply tracking-tight text-3xl text-gray-900;
}

.ownerName {
    color: rgb(112, 122, 131);
    height: 24px;
    font-size: 15px;
    font-weight: 600;
}

.ownerAbout {
    border-top: 1px solid;
    background-color: rgb(251, 253, 255);
    padding: 10px;
}

.descriptionCardSection {
    border-top: 1px solid rgb(229, 232, 235);
    background-color: rgb(251, 253, 255);
    padding: 10px;
}

.propertiesSection {
    @apply grid gap-y-2 grid-cols-3 justify-items-center;
    background-color: rgb(251, 253, 255);
    padding: 10px 0;
}

.itemProperty {
    @apply border border-cyan-500 bg-cyan-50 w-36 h-20 text-center p-2.5 rounded-lg mx-2;
    height: 89.5px;
}

.propertyType {
    @apply text-cyan-400 uppercase font-medium;
    font-size: 11px;
}

.propertyName {
    color: rgb(53, 56, 64);
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.propertyRarity {
    color: rgb(112, 122, 131);
    font-size: 13px;
    line-height: 16px;
    min-height: 16px;
}

.contractDetails {
    border-top: 1px solid;
    background-color: rgb(251, 253, 255);
    padding: 10px;
}

.detailCard {
    max-width: 508px !important;
    height: auto !important;
    padding: 0 !important;
    border: 1px solid rgb(46, 125, 175) !important;
}

.detailCard > div {
    margin-bottom: 0px;
}

.descriptionAccordin {
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-top: 1px solid rgb(229, 232, 235) !important;
    @apply hover:bg-transparent;
}

.detailDescAccordin {
    border-radius: 0 0 20px 20px !important;
    border: 1px solid rgb(229, 232, 235) none none none !important;
    @apply hover:bg-transparent;
}

.accordinBorder {
    border-radius: 20px !important;
}

.descriptionText {
    height: 64px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgb(229, 232, 235);
    color: #04111d !important;
}

.ownerText {
    background-color: rgb(251, 253, 255);
    height: 84px;
    padding: 30px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgb(229, 232, 235);
    color: #04111d !important;
}

.activityTable {
    border-top: 1px solid rgb(229, 232, 235);
    margin-top: 0;
    background-color: rgb(251, 253, 255);
}

.activityTable > * > *,
.activityTable > * > * > * {
    border-radius: 0 !important;
}

.priceActivity {
    border-top: 1px solid rgb(229, 232, 235);
    background-color: rgb(251, 253, 255);
    @apply py-5;
}

.viewContainer header h4 {
    color: #04111d !important;
}
